name: palworld-main
"on":
  push:
    branches:
    - master
    paths:
    - apps/palworld/**
    - apps/palworld/app.sha
  workflow_dispatch: {}
jobs:
  build_and_deploy_palworld_main:
    name: "Build and deploy palworld: main"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      name: Checkout
    - uses: ./.github/actions/compile_manibuild
      name: Compile manibuild
    - uses: ./.github/actions/build_image
      name: Build and deploy image
      with:
        build_args: VERSION=${{ steps.version.outputs.version }}
        context: apps/palworld
        file: ""
        image_description: A containerized palworld server for hostfactor.io
        name: palworld
        tags: |-
          latest
          ${{ env.LATEST_STEAM_VERSION }}
